@import "./styles/reset.css";
@import "./styles/variables.css";
@import "./components/InputDownload.css";
@import './components/VideoCard.css';
@import "./components/AsideMenu.css";
@import "./pages/HomePage.css";
