#aside-menu {
  background-color: #000;
  color: #fff;
  width: 16rem;
  height: 100vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

#aside-menu header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  user-select: none;
  border-bottom: var(--gray-dark) 1px solid;
  padding-bottom: 1.5rem;
}

#aside-menu header .icon {
  background-color: var(--accent-color);
  padding: 0.5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  color: var(--black);
}

#aside-menu header h2 span {
  color: var(--accent-color);
}

#aside-menu nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#aside-menu nav li a {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5rem;
  color: var(--gray-light);
  font-size: 1.1rem;
  transition: 0.3s;
  padding: 0.75rem 1rem;
  width: 100%;
  border-radius: 0.5rem;
  position: relative;
}

#aside-menu nav li a.active,
#aside-menu nav li a.active:hover {
  background-color: var(--accent-color);
  color: var(--black);
  font-weight: 600;
}

#aside-menu nav li a:hover {
  background-color: var(--gray-dark);
  color: var(--white);
  border-radius: 0.5rem;
}

#aside-menu nav li a .icon {
  color: var(--accent-color);
}

#aside-menu nav li a.active .icon {
  color: var(--black);
}

#aside-menu .menu-mobile {
  position: relative;
  width: 24px;
  height: 20px;
  align-self: center;
  padding: 0.25rem;
  z-index: 99;
  display: none;
}

#aside-menu .menu-mobile span::before,
#aside-menu .menu-mobile span::after,
#aside-menu .menu-mobile span {
  content: "";
  display: block;
  background-color: var(--white);
  width: 24px;
  height: 2px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
}

#aside-menu .menu-mobile span::before {
  top: 8px;
}

#aside-menu .menu-mobile span::after {
  top: 16px;
}

#aside-menu .menu-mobile.active span::before {
  rotate: 450deg;
  top: 0px;
  background-color: var(--accent-color);
}

#aside-menu .menu-mobile.active span {
  rotate: 45deg;
  top: 8px;
  background-color: var(--accent-color);
}

#aside-menu .menu-mobile.active span::after {
  top: 0px;
  background-color: var(--accent-color);
}

#aside-menu footer {
  margin-top: auto;
  font-size: 0.875rem;
  color: var(--gray-light);
  border-top: var(--gray-dark) 1px solid;
  padding-top: 1.5rem;
  user-select: none;
  display: flex;
  justify-content: space-between;
}

#aside-menu footer span {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

@media (max-width: 1024px) {
  #aside-menu {
    flex-direction: row;
    height: auto;
    width: 100vw;
    justify-content: space-between;
    position: fixed;
  }

  #aside-menu header {
    border-bottom: none;
    margin: 0;
    padding: 0;
  }

  #aside-menu nav {
    display: flex;
  }

  #aside-menu nav ul {
    flex-direction: row;
  }

  #aside-menu nav li a::before {
    content: "";
    width: 0%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
    border-radius: 4px;
    background-color: var(--accent-color);
    transition: 0.3s;
  }

  #aside-menu nav li a.active,
  #aside-menu nav li a.active:hover {
    background-color: transparent;
    color: var(--white);
    font-weight: normal;
  }

  #aside-menu nav li a.active::before,
  #aside-menu nav li a.active:hover::before {
    width: 100%;
    height: 4px;
  }

  #aside-menu nav li a.active .icon {
    color: var(--accent-color);
  }

  #aside-menu footer {
    display: none;
  }
}

@media (max-width: 768px) {
  #aside-menu nav ul {
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 88px;
    background-color: var(--black);
    transform: translateX(100%);
    transition: 0.3s;
    z-index: 999999;
  }

  #aside-menu nav ul.expanded {
    transform: translateX(0);
  }

#aside-menu .menu-mobile {
    display: flex;
}
}
