* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "System UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li,
ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

input {
  outline: none;
  font-family: inherit;
}


button,
input,
input:focus,
button:focus {
  outline: none;
  background-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
