:root {
  --black: #000;
  --white: #fff;
  --accent-color: #fb0;
  --bg-color: #f4f4f5;
  --gray-light: #d4d4d8;
  --gray-dark: #3f3f46;
  --red: #ef4444;
  --bg-red-op: #dd696933;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.max-width-container {
  max-width: 670px;
  margin: 0 auto;
  padding: 0 1rem;
}

#App {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

@media (max-width: 1024px) {
  #App {
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;

  }
}
