:root {
  --black: #000;
  --white: #fff;
  --accent-color: #fb0;
  --gray-light: #ccc;
  --gray-dark: #333;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
